$utilities: map-merge(
  $utilities, (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true ),
    ),
  )
);


.top-24{
  top: 24px;
}
.right-24{
  right: 24px;
}

.right-0{
  right: 0;
}