<section class="py-9">
  <div class="container">
      <div class="bg-primary-60 py-3 px-4 py-md-4 px-md-5 rounded-4">
          <div class="text-white">
              <div class="border-dashed mb-4">
                  <img src="/assets/images/logo-icon-w.svg" alt="logo-icon" class="mb-4">
                  <h2 class="fw-bold mb-6">邁向你真正想過的生活，從這裡開始</h2>
                  <p class="mb-4">第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式</p>
              </div>
              <div class="d-flex flex-column flex-md-row align-items-start  mb-10">
                  <p class="me-4  mb-md-0 mb-3"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                          viewBox="0 -960 960 960" width="24px" fill="#ffffff" class="me-2">
                          <path
                              d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z" />
                      </svg>0800-123-123</p>
                  <p class=" mb-md-0 mb-4"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                          viewBox="0 -960 960 960" width="24px" fill="#ffffff" class="me-2">
                          <path
                              d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z" />
                      </svg>Sample@mail.com</p>
                  <button type="button" class="btn btn-dark btn-customer-dark ms-0 ms-md-auto">預約免費職涯探索<svg
                          xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                          fill="#ffffff">
                          <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
                      </svg></button>
              </div>
          </div>
      </div>
  </div>
</section>
<footer class="bg-natural-95 py-4 px-6 py-md-5 border-top">
  <nav class="container">
    <ul class="nav d-flex justify-content-center align-items-center">
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">服務方案</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">關於職旅</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">聯絡我們</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">隱私權政策</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">用戶條款</a>
      </li>
      <div class="ms-xl-auto ms-0">
        <p class="text-natural-50 mb-0 text-nowrap fs-7">Copyright © 2025 職旅 workway. All rights reserved.</p>
      </div>
    </ul>
  </nav>
</footer>