.btn-customer{
    padding: 12px 24px;
    color: #141A1F;
    background-color: #ffffff;
    border: 1px solid #D1D9E1;
}

.btn-success{
    padding: 12px 12px 12px 20px;
    background-color: #36c99f;
}

.btn-customer-dark{
    width: 187px;
    padding: 12px 12px 12px 20px;
    color: white;
    background-color: black;
}