.logo-icon{
  width: 96px;
  height: 84px;
}
.gradient-ball-1 {
  width: 800px;
  height: 800px;
  left: calc(50% - 400px);
  top: 40px;
  z-index: 0;
}

.gradient-ball-2 {
  width: 800px;
  height: 800px;
  right: -180px;
  top: 140px;
  z-index: 0;
}

.bubble-box {
  width: 120px;
  padding-top: 12.8px;
  padding-bottom: 12.8px;
  border-radius: 16px;
  color: #4A69E8;
  background-color: #ffffff;
  border: 2px solid #4A69E8;
  position: relative;
  text-align: center;
}

.bubble-tail {
  position: absolute;
  bottom: -12px;
  /* 超出底部 */
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-right: 2px solid #4A69E8;
  border-bottom: 2px solid #4A69E8;
  box-sizing: border-box;
}

.img-tag {
  padding: 8px 16px;
  top: 12px;
  left: 12px;
  background-color: #4A69E8;
}

.bg-secondary-light {
  background-color: #F0F3F5;
}

.text-hover-primary {
  color: #4A69E8;
}

.step {
  padding: 10.5px 16px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.card-body {
  padding-top: 64px;
  padding-bottom: 48px;
}

.img-qa {
  width: 400px;
  height: 400px;
}

.bg-qa {
  background-image: url("/assets/images/index/bg-grid.png");
  background-repeat: repeat;
  background-size: 25%;
}

.accordion-item {
  border: none;
  overflow: hidden;
}

.border-dashed{
  border-bottom-style: dashed;
  border-width: 1px;
}

.trigger {
  position: relative;
}

.trigger .overlay {
  opacity: 0;
  pointer-events: none; /* 避免隱藏時還能點擊 */
  transition: opacity 0.3s ease;
}

.trigger:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

@media(max-width: 768px){
  .gradient-ball-mb-1 {
    width: 560px;
    height: 560px;
    left: calc(50% - 280px);
    z-index: 0;
  }
  .gradient-ball-mb-2 {
    width: 400px;
    height: 400px;
    top: auto;
    right: -160px;
    bottom: -160px;
    z-index: 0;
  }
  .logo-icon{
    width: 48px;
    height: 42px;
  }
}