<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
  <title>index</title>
</head>

<body>
  <%- include('./layout/header-default'); -%>
    <%- include('./layout/service'); -%>
      <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
</body>

</html>